h1 {
    color: #0000ff;
    font-family: Montserrat, sans-serif;
}
body {
    background-color:blanchedalmond;
}
.headcourse {
    font-family: sans-serif, Roboto;
    text-align: center;
}
.courselist {
    border: 4px lightblue ridge;
    margin: 2px;
    width: 250px;
}
.schoolhead {
    font-family: sans-serif, Roboto;
}