h1 {
    color: #334259;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
}

body {
    background-color:#edddd0;
}

.headcourse {
    font-family: sans-serif, Roboto;
    text-align: center;
}
.courselist {
    border: 4px lightblue ridge;
    margin: 2px;
    width: 250px;
}
.schoolhead {
    color: #334259;
    font-family: sans-serif, Roboto;
    font-size: 40px;
}

header{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

.mainbody{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20%;

}

.aboutme{
    grid-row: 1;
    grid-column: 1;
}

.onepara{
    grid-row: 2 ;
    grid-column: 1/2;
}

.secondpara{
    grid-row: 3;
    grid-column: 1;
}

.image{
    grid-column: 2;
    grid-row: 2;
    padding-left: 15%;
}

.links{
    display: inline flex;
    column-gap: 15%;
}

.secondback{
    background-color:#edddd0;
}

.one{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
}

.two{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
}

.three{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
}

.linkstwo{
    display: inline flex;
    column-gap: 15%;
}

.linksthree{
    display: inline flex;
    column-gap: 15%;
}

.footone{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
    grid-row: 2;
    grid-column: 2;   
}

.foottwo{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
    grid-row: 2;
    grid-column: 2;   
}

.footthree{
    background-color: #a6cad4;
    display: grid;
    text-align: center;
    grid-row: 2;
    grid-column: 2;   
}

.p1{
    text-align: right;
}

.p2{
    text-align: right;
}

.p3{
    text-align: right;
}

.line1{
    border-bottom: black solid;
}

.line2{
    border-bottom: black solid;
}

